body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
}

h1 {
    margin-bottom: 10px;
}

canvas {
    background: black;
    display: block;
    margin: auto;
    border: 3px solid white;
}
